Header {
}

#container {
    /*background: green;*/
}

#output {
    height: 1fr;
    align: left bottom;
    color: lime;
}

#loading_indicator {
    color: lime;
    height: 1;
}

#input {
    dock: bottom;
}
