#chat_container {
    height: 1fr;
    align: center bottom;
    padding: 1;
}

.message-user {
    color: white;
    text-align: right;
}

.message-assistant {
    color: lime;
    text-align: left;
}

#output {
    height: 1fr;
    align: left bottom;
    color: lime;
}

#loading_indicator {
    color: lime;
    height: 1;
}

#input {
    dock: bottom;
}
