#chat_container {
    height: 1fr;
    align: center top;
    padding: 1;
}

.message-label-user {
    color: white;
    text-style: bold;
    text-align: right;
    width: 100%;
}

.message-label-assistant {
    color: lime;
    text-style: bold;
    text-align: left;
    width: 100%;
}

.message-user .message-content {
    text-align: right;
    color: white;
}

.message-assistant .message-content {
    text-align: left;
    color: lime;
}

#loading_indicator {
    color: lime;
    height: 1;
}

#input {
    dock: bottom;
}
