#sidebar {
    width: 30;
    height: 100%;
    border-right: solid $primary;
}

#sidebar_title {
    text-style: bold;
    background: $primary;
    color: $text;
    padding: 1;
    text-align: center;
    width: 100%;
}

#chat_list {
    height: 1fr;
}

#chat_list > ListItem {
    padding: 1;
}

#chat_list > ListItem:hover {
    background: $primary;
}

#chat_container {
    height: 1fr;
    align: center top;
    padding: 1;
}

.message-label-user {
    color: white;
    text-style: bold;
    text-align: right;
    width: 100%;
}

.message-label-assistant {
    color: $primary;
    text-style: bold;
    text-align: left;
    width: 100%;
}

.message-user .message-content {
    text-align: right;
    color: white;
}

.message-assistant .message-content {
    text-align: left;
    color: $primary;
}

#loading_indicator {
    color: $primary;
    height: 1;
    padding: 1;
}

#input_bar {
    height: auto;
}

#search_container {
    height: auto;
    padding: 1;
}

#search_label {
    padding: 1;
}
